In [13]:
# Import libraries necessary for this project
import numpy as np
import pandas as pd
from time import time
from sklearn.model_selection import train_test_split, GridSearchCV
from sklearn.metrics import fbeta_score, accuracy_score, make_scorer
from sklearn.preprocessing import MinMaxScaler
from sklearn.base import clone
from sklearn.linear_model import LogisticRegression
from sklearn.svm import LinearSVC
from sklearn.ensemble import GradientBoostingClassifier
from IPython.display import display  # Allows the use of display() for DataFrames



# Load the Census dataset
data = pd.read_csv("income_dataset.csv")

# Success - Display the first record
display(data.head(1))

,age,workclass,education,education_num,marital_status,occupation,relationship,race,gender,capital_gain,capital_loss,hours_per_week,native_country,income
0,39,State-gov,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K

In [14]:
n_records = data.shape[0]
n_greater_50k = data[data.income == '>50K'].shape[0]
n_at_most_50k = data[data.income == '<=50K'].shape[0]
greater_percent = n_greater_50k * 100.0 / n_records

print("Total number of records: {}".format(n_records))
print("Individuals making more than $50,000: {}".format(n_greater_50k))
print("Individuals making at most $50,000: {}".format(n_at_most_50k))
print("Percentage of individuals making more than $50,000: {:.2f}%".format(
    greater_percent))

Total number of records: 32561
Individuals making more than $50,000: 0
Individuals making at most $50,000: 0
Percentage of individuals making more than $50,000: 0.00%

In [15]:
data.dtypes

age                int64
workclass         object
education         object
education_num      int64
marital_status    object
occupation        object
relationship      object
race              object
gender            object
capital_gain       int64
capital_loss       int64
hours_per_week     int64
native_country    object
income            object
dtype: object

In [18]:

skewed = ['capital_gain', 'capital_loss']
features_log_transformed = pd.DataFrame(data=features_raw)
features_log_transformed[skewed] = features_raw[skewed].apply(
    lambda x: np.log(x + 1))

vs.distribution(features_log_transformed, transformed=True)

NameError: name 'vs' is not defined